$font: "Roboto", Helvetica, Arial, sans-serif;
$font-title: "Uni Sans", Impact, sans-serif;
$font-inner: "Gilroy", Helvetica, Arial, sans-serif;

$base-font-size: 10px;
$main-font-size: $base-font-size * 1.6;

$main-bg-color: #fff;
$elem-bg-color: #fed100;